// Define variables for your color scheme

// For example:
$red: #FF535E;
$blue: #0280F0;
$yellow: #FFD600;
$orange: #FFAA2C;
$green: #01CF6C;
$dark-gray: #1E1E1E;
$mid-gray: #8A8A8A;
$light-gray: #ECECEC;
