
<div class="container full-page mt-1 mb-1">

  <div class="logo+title container logo mt-5 mb-5 d-flex p-5 align-items-center">
    <div class="container logo mt-5 mb-5">
      <img src="/logowithouttext.png" style="width: 50%; height: auto;">
    </div>

    <div class="container title mt-5 mb-5 text-center">
      <h1>Time Capsule</h1>
      <p> Unlock the almighty power to travel through time!</p>
    </div>
  </div>

  <div class="background-image">
    <div class="container title-card-description bg-light p-5">
      <h1>The Powers of Time Capsule</h1>
    </div>
    <div class="container card-description bg-light p-5 d-flex">
      <img src="/mytimecapsule.png" style="width: 50%; height: auto;">
      <p> explanation here </p>
    </div>
  </div>

  <div class="title-wrapper mt-5 mb-5">
    <h3>Retrieve your Time Capsule:</h3>
      <div class="Time-Capsule-Token">
        <form class="form-inline">
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your code here">
          </div>
        </form>
      </div>
  </div>

</div>
