<div>
  <h1>Content added</h1>
    <%# messages %>
  <div class="d-flex align-items-center w-50">
    <div >
    <i class="icon fa-solid fa-message"></i>
    <p class="m-2">2 messages</p>
    <div>
      <i class="down-arrow-icon fa-solid fa-caret-down"></i>
    </div>
    </div>
  </div>
  <%# Audios %>
  <div class="d-flex align-items-center w-50">
    <i class="icon fa-regular fa-file-audio"></i>
    <p class="m-2">2 audios</p>
    <i class="down-arrow-icon fa-solid fa-caret-down"></i>
  </div>
  <%# Playlist %>
  <div class="d-flex align-items-center w-50">
    <i class="icon fa-brands fa-spotify"></i>
    <p class="m-2">1 playlist</p>
    <i class="down-arrow-icon fa-solid fa-caret-down"></i>
  </div>
  <%# Photos %>
  <div class="d-flex align-items-center w-50">
    <i class="icon fa-regular fa-image"></i>
    <p class="m-2">10 photos</p>
    <i class="down-arrow-icon fa-solid fa-caret-down"></i>
  </div>
  <%# Records %>
  <div class="d-flex align-items-center w-50">
    <i class="icon fa-solid fa-record-vinyl"></i>
    <p class="m-2">1 record</p>
    <i class="down-arrow-icon fa-solid fa-caret-down"></i>
  </div>
</div>
</div>
