<div>
  <h1>Content added</h1>
    <%# messages %>
  <div class="d-flex w-75">
    <i class="icon fa-message"></i>
    <p class="m-2">Messages</p>
  </div>
  <%# Audios %>
  <div class="d-flex w-75">
    <i class="icon fa-regular fa-file-audio"></i>
    <p class="m-2">Audios</p>
  </div>
  <%# Playlist %>
  <div class="d-flex w-75">
    <i class="icon fa-brands fa-spotify"></i>
    <p class="m-2">Playlist</p>
  </div>
  <%# Photos %>
  <div class="d-flex w-75">
    <i class="icon fa-regular fa-image"></i>
    <p class="m-2">Photos</p>
  </div>
  <%# Records %>
  <div class="d-flex w-75">
    <i class="icon fa-solid fa-record-vinyl"></i>
    <p class="m-2">Records</p>
  </div>
</div>
</div>
