<div class="container d-flex flex-row justify-content-between p-4 border-bottom border-light-gray align-items-center">
  <%= link_to edit_capsule_path(capsule), class: 'link-underline link-underline-opacity-0' do %>
    <div class="d-flex flex-column">
      <div class="w-100 d-flex gap-2 align-items-center">
        <span class="badge bg-warning"><%= capsule.status.capitalize %></span>
        <h6 class="fw-bold mb-0 text-black"><%= capsule.name %></h6>
      </div>
    </div>
  <% end %>
  <%= button_to capsule_path(capsule), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:'btn align-items-center p-0' do %>
    <span class="material-symbols-outlined delete-icon">delete</span>
  <% end %>
</div>
