<div class="container">
  <div class="w-100 d-flex gap-3">
    <h5><%= capsule.status %></h5>
    <h3><%= capsule.name %></h3>
  </div>
  <div class="d-dlex">
    #ajouter date d'ouverture et progress bar ici
  </div>
</div>
