<div>
  <%# arrow icon %>
<%= link_to new_capsule_path do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

  <%# Title %>
  <div>
    <h1>Are you ready?</h1>
    <p>You are about to sent capsule through time ...</p>
  </div>
  <%# capsule content %>
  <%= render "capsules/capsule_content", local: { capsule: @capsule } %>
  <%# recipient %>
  <div>
    <h2>Recipients</h2>
    <p>me</p>
    <p>email</p>
    <p>email</p>
    <p>phone number</p>
  </div>
  <%# unlock date %>
  <div>
  <%# <%= render "capsules/capsule_unlock_date", local: { capsule: @capsule } %> %>
  </div>
  <%# Send capsule butoon %>
  <div>
  <i class="fa-solid fa-rocket"></i>
  <%# <% link_to "Send capsule" / %> %>
  </div>
</div>
