<div class="confirmation-background pt-5 p-5">
  
  <div class="loader-title mt-5 mb-5 rounded d-flex flex-column justify-content-center">
    <h1 class="text-white"> Your Time Capsule is being sealed</h1>
    <p class="mb-0 text-center text-white mt-3"> Please wait a few moments </p>
  </div>

  <div class="loader mt-5 p-5 rounded text-center">
      <l-ring size=”180” color="coral"></l-ring>
    <div class="particles-loader">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
    </div>
  </div>
  
  <div class="waiting-text mt-5">
    <h4 class="text-center text-white mt-3 mb-5"><strong> Sending memories through time... <strong></h4>
  </div>

</div> 