<div class="container full-page mt-1 mb-1">
  <div class="confirmation-background">
    <div class="container title-card-description bg-light p-5">
      <h1> Your Time Capsule is being scealed</h1>
      <p> Please wait a few moments </p>
      <div class=loader>
        <l-ring size=”60” color="coral"></l-ring>
      </div>
    </div>
  </div>

</div> 