<div data-toggle-target="partial" class="d-none container">
  <div class="container mt-3">
    <button data-action="click->toggle#toggleCaspuleDataPartial">cancel</button>
    <%= simple_form_for(@capsule) do |f| %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
