<div class="mx-4 mt-4 d-flex flex-column ml-8">
  <%# avatar logo %>
  <div class="w-40">
    <% if current_user.avatar.attached? %>
      <%= image_tag(current_user.avatar, class: "rounded-circle") %>
    <% else %>
      <% colors = ["text-bg-primary", "text-bg-danger", "text-bg-warning", "text-bg-dark", "text-bg-info"] %>
      <div class="avatar <%= colors.sample%> d-flex align-items-center justify-content-center">
        <span class="text-light"><%= current_user.first_name[0]%></span>
      </div>
    <% end %>
  </div>
  <%# Button card %>
  <div class="mt-3 w-30 p-0 gap-3 d-flex">
    <button data-toggle-target="upcoming-btn" data-action="click->toggle#toggleDisplay" class="btn fw-bold">Upcoming</button>
    <button data-toggle-target="sent-btn" data-action="click->toggle#toggleDisplay" class="btn text-secondary">Sent</button>
  </div>
</div>
