<div class="container background-image vh-100">
  <div class="home-container">

    <%# <--! Title --> %>
    <div class="bg-transparent text-center title-wrapper">
      <%= image_tag "mytimecapsule.png", alt: "My Time Capsule image", class: "image-capsule"%>
      <h2 class="text-white">Time Capsule</h2>
    </div>

    <%# <--! video --> %>
    <div class="video-container">
        <%= video_tag "videos/VIDEO-PORTRAIT-INTRO-TIME-CAPSULE.mp4", controls: true, autoplay: false, loop: true %>
    </div>

    <%# <--! Dashboard link  --> %>
    <div class="link-card">
      <i class="fa-solid fa-arrow-right-long"></i>
      <%= link_to "My dashboard", capsules_path %>
      <i class="fa-solid fa-arrow-left-long"></i>
    </div>
  </div>
</div>
