.avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: white 1px solid;
}
