.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: $green;
}

.message-icon {
  font-size: 8px;
  color: $mid-gray;
  font-weight: 200;
}

.delete-icon {
  color: $danger !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
