<div class="container">

  <% @recipients.each do |recipient| %>
    <p><%= recipient%></p>
  <% end %>

  <%= button_to capsule_user_capsules_path(@capsule), params: {recipients: @recipients, capsule_id: @capsule }, class: "btn btn-dark px-4 my-4 rounded-pill" do %>
    <div class="d-flex gap-2">
      <span class="material-symbols-outlined">rocket_launch</span>
      Send capsule
    </div>
  <% end %>

</div>
