<div class="container pt-4" data-controller="autosave">
  <%= link_to edit_capsule_path(@capsule), class: 'link-underline link-underline-opacity-0 text-black w-auto' do %>
    <div class="d-flex gap-2 w-auto">
      <span class="material-symbols-outlined mb-4">keyboard_backspace</span>
    </div>
  <% end %>
  <h1 class="text-black text-start fs-2">Are you ready?</h1>
  <p class="text-secondary fs-6">Your about to send your capsule through time!</p>
  <%= simple_form_for :user_capsule, url: capsule_user_capsules_path(@capsule), method: :post do |f| %>
    <div data-controller="recipients">
          <label for="email_field" class="fw-bold form-label mb-2">Recipients</label>
          <div class="d-flex w-100 gap-2 mb-4">
            <input type="email" data-recipients-target="input", placeholder="Type email", class="capsule-name w-100 me-4">
            <button data-action="click->recipients#add", class="btn btn-secondary w-50 py-0">+ Add</button>
          </div>
          <div class="d-flex flex-wrap gap-2 mb-4" data-recipients-target="list">
          </div>
        <%= f.input :unlock_date,
                      as: :date,
                      wrapper_html: { class: 'mb-4'},
                      required: true,
                      html5: true,
                      label_html: { class: 'fw-bold mb-3' },
                      label: 'Set an unlock date',
                      input_html: { data: { controller: "datepicker", 'action': "input->autosave#save"}, value: @capsule.unlock_date } %>
    </div>
    <div class="d-flex w-100 justify-content-center pt-4">
      <%= button_tag(type: 'submit', class: 'btn') do %>
        <div class="seel-and-send-button rounded-pill px-4 py-2 d-flex gap-2">
          <span class="material-symbols-outlined send-icon">rocket_launch</span>
          Seal & Send
        </div>
    <% end %>
    </div>
  <% end %>
</div>
